baseURL: http://dh-tech.github.io
disablePathToLower: false
languageCode: en-us
title: DHTech
enableRobotsTXT: true

menu:
  main:
  - name: about
    pageRef: /about
    weight: 1
  - name: news
    pageRef: /news/
    weight: 2
  - name: blog
    pageRef: /blog/
    weight: 4
  - name: sig
    pageRef: /SIG
    weight: 5
  - name: working groups
    pageRef: /working-groups
    weight: 6
  - name: job board
    pageRef: /job-board
    weight: 7
  - name: join us
    pageRef: /join
    weight: 8
  social:
    # social menu links
    - name: github
      type: social
      weight: 1
      url: https://github.com/dh-tech/
    - name: twitter
      weight: 2
      url: https://twitter.com/dhtech_group/
    - name: bluesky
      weight: 3
      url: https://bsky.app/profile/dhtech-community.bsky.social
    - name: mastodon
      weight: 4
      url: https://fedihum.org/@dhtech
    - name: rss
      weight: 5
      url: index.xml


markup:
  goldmark:
    renderer:
      unsafe: true   # allow raw html in content

theme: ["github.com/chipzoller/hugo-clarity", "hugo-bibliography"]

# clarity-specific configuration

mainSections:
  - blog
  - news
  - workshops

permalinks:
  news: /:year/:month/:day/:slug/
  blog: /blog/:year/:month/:day/:slug/

params:
  logo: "logos/logo.png"
  subtitle: "An ADHO Special Interest Group"
  mobileNavigation: right
  showReadTime: false
  showShare: false
  ga_analytics: G-P55LD1R62C
