.custom-logo {
  .site-meta-headline { }

  .brand { background: none; }

  .site-title {
    font-size: 24px;
    color: $headings;
    font-family: $font-secondary;
    a { border: none; }
  }


}

.custom-logo-image {
  width: 50px;
}
