// override flex and use grid to layout title and subtitle
.nav_brand
	&.nav_item
	display: grid
	grid-template-areas: "logo title" "logo subtitle"
	grid-template-columns: 50px auto
	grid-column-gap: 0.65em

	img.logo
		max-height: 40px
		grid-area: logo
		align-self: start
	.title
		font-size: larger
		font-weight: bold
		grid-area: title
	.subtitle
		grid-area: subtitle
		font-size: smaller
		font-style: italic

.nav
	.nav_body
		justify-content: flex-end
	.follow
		flex: 0

// on mobile, keep menu items at the top
@media screen and (max-width: $mobile-menu-breakpoint)
	.nav .nav_body
		justify-content: flex-start



.post_tag.button
	text-transform: none
	font-variant: small-caps
	.button_tally
		margin-left: 1em

a[title="join us"]
  border: solid
  border-radius: 0.5rem


div.subscribe
	font-size: smaller
	margin-top: 2em

.post_meta
		.slides, .recording
			margin-right: 0.5rem
			margin-left: 0.25rem

.sidebar_list
	list-style: none
	padding-left: 0

	li 
		position: relative
		padding-left: 2rem

		.icon
			position: absolute
			left: 0
			top: 50%
			transform: translateY(-50%)
			width: 1.25rem 
			height: 1.25rem
			filter: 0

.event_list
	list-style: none
	padding-left: 0

	li 
		position: relative
		display: flex
		align-items: center

		.icon 
			width: 1.25rem
			height: 1.25rem
			margin-right: 0.5rem

.half-width
	max-width: 500px
	height:auto

// font used in new dhtech logo; used in RSK post about creating logo
@font-face
  font-family: 'Goudy Bookletter 1911'
  font-style: normal
  font-weight: 300
  font-display: swap
  src: url('/fonts/goudy_bookletter_1911/goudy_bookletter_1911.woff2') format('woff2'), url('/fonts/goudy_bookletter_1911/goudy_bookletter_1911.woff') format('woff')


figure.small
  width: 90%
  @media screen and (min-width: $mobile-menu-breakpoint)
    width: 30%

// print styles
@media print
	// suppress header, link to top, and sidebar
	header.nav_header, .to_top, aside.sidebar
		display: none