// override flex and use grid to layout title and subtitle
.nav_brand
	&.nav_item
	display: grid
	grid-template-areas: "logo title" "logo subtitle"
	grid-template-columns: 50px auto
	grid-column-gap: 0.65em

	img.logo
		max-height: 40px
		grid-area: logo
		align-self: start
	.title
		font-size: larger
		font-weight: bold
		grid-area: title
	.subtitle
		grid-area: subtitle
		font-size: smaller
		font-style: italic

.nav
	.nav_body
		justify-content: flex-end
	.follow
		flex: 0

// on mobile, keep menu items at the top
@media screen and (max-width: $mobile-menu-breakpoint)
	.nav .nav_body
		justify-content: flex-start


.apa-citation
	margin-bottom: 1rem
	text-indent: -2rem
	padding-left: 2rem

.tag_result
	font-size: 1.25rem
	width: fit-content
	padding-left: 1rem !important
	padding-right: 1rem !important
	margin-top: 1rem
	border: solid
	border-radius: 0.5rem
	

.post_tag.button
	text-transform: none
	font-variant: small-caps
	.button_tally
		margin-left: 1em

.featured.button
	text-transform: none
	font-size: 0.6rem
	padding: 1rem
	padding-top: 0.35rem
	padding-bottom: 0.35rem
	font-weight: bold

a[title="join us"]
  border: solid
  border-radius: 0.5rem


div.subscribe
	font-size: smaller
	margin-top: 2em

.post_meta
		.slides, .recording
			margin-right: 0.5rem
			margin-left: 0.25rem

.sidebar_list
	list-style: none
	padding-left: 0

	li 
		position: relative
		display: flex
		align-items: center
		margin: 0

		.icon
			width: 1.125rem
			height: 1.125rem
			margin-right: 0.5rem
			margin-bottom: auto
			margin-top: 0.25rem //this margin-top of 4px is necessary to align the icon with the text

.event_list
	list-style: none
	padding-left: 0

	li 
		position: relative
		display: flex
		align-items: center

		.icon 
			width: 1.125rem
			height: 1.125rem
			margin-right: 0.5rem
			margin-bottom: auto
			margin-top: 0.25rem //this margin-top of 4px is necessary to align the icon with the text

.half-width
	max-width: 500px
	height:auto

// font used in new dhtech logo; used in RSK post about creating logo
@font-face
  font-family: 'Goudy Bookletter 1911'
  font-style: normal
  font-weight: 300
  font-display: swap
  src: url('/fonts/goudy_bookletter_1911/goudy_bookletter_1911.woff2') format('woff2'), url('/fonts/goudy_bookletter_1911/goudy_bookletter_1911.woff') format('woff')


figure.small
  width: 90%
  @media screen and (min-width: $mobile-menu-breakpoint)
    width: 30%

// print styles
@media print
	// suppress header, link to top, and sidebar
	header.nav_header, .to_top, aside.sidebar
		display: none