<div class="site-brand-wrapper">
  <div class="logo-link">
    <a>
      <img style="width: 50px" src="{{ site.custom_logo.image }}"
           alt="{{ site.title }}"/>
    </a>
    <h1 class="logo-title">DH Tech</h1>
  </div>
</div>

<nav class="site-nav">
  {% if site.menu %}
    <ul id="menu" class="menu">
      {% for name_path in site.menu %}
        {% assign name = name_path[0] %}
        {% assign path = name_path[1] %}
        {% assign itemName = name | downcase %}
        <li class="menu-item menu-item-{{ itemName }}">
          {% if path contains '://' %}
            <a href="{{ path }}" rel="section">
          {% else %}
            <a href="{{ path | relative_url }}" rel="section">
          {% endif %}
            {% if site.menu_icons.enable %}
              <!-- <i class="menu-item-icon fa fa-fw fa-{{site.menu_icons[itemName] | default: 'question-circle' | downcase }}"></i> --> <br />
            {% endif %}
            {{ __.menu[name] }}
          </a>
        </li>
      {% endfor %}

      {% if hasSearch %}
        <li class="menu-item menu-item-search">
          {% if site.swiftype_key %}
            <a href="javascript:;" class="st-search-show-outputs">
          {% elsif site.local_search.enable or site.algolia_search.enable %}
            <a href="javascript:;" class="popup-trigger">
          {% endif %}
            {% if site.menu_icons.enable %}
              <i class="menu-item-icon fa fa-search fa-fw"></i> <br />
            {% endif %}
            {{ __.menu.search }}
          </a>
        </li>
      {% endif %}
    </ul>
  {% endif %}

  {% if hasSearch %}
    <div class="site-search">
      {% include _partials/search.html %}
    </div>
  {% endif %}
</nav>

{% include _custom/header.html %}
