
<script>
  //# sourceURL=index.js
$(function() {
  setNavigation("Home")
})

</script>

<div class="homepage">
  <div class="left-section">
    <div class="intro">
      <div class="line"></div>
      <i class="fa fa-quote-left"></i>
      <p class="intro-para"><em>Established at DH 2017 Montreal, DHTech is an international grass-roots community of Digital Humanities software engineers.</em><i class="fa fa-quote-right"></i></p>
    </div>
    <br>
    <div class="intro">
      <p class="intro-para"><em>We are pleased to announce that DHTech is now an <a href="https://adho.org/special-interest-groups-sigs" target="_blank">ADHO Special Interest Group</a>! More information to come soon.</em></p>
    </div>

    <div class="blog">
      <h1 class="section-header" style="text-align: left ">Blog</h1>
      <div class="grid-blog" style="grid-template-columns: auto;">
        {% assign blog = site.blog | sort: 'date' | reverse %}
        {% for item in blog %}
          {% if forloop.index > 3 %}
            {% break %}
          {% endif %}
          <div class="card">
            <div class="bg-image">
              <img class="bg-image-inner" src="{{site.baseurl}}{{ item.img }}">
            </div>
            <div class="card-body">
              <a href="{{ site.baseurl }}{{ item.url }}" class="read-more"><h5 class="post-title">{{ item.title }}</h5></a>
              {% if item.author %}<p class="card-author">by {{item.author}}</p>{% endif %}
              <p class="card-text">{{ item.excerpt }}</p>
              <p class="card-article-time">{{ item.date | date: site.date_format }}</p>
              <p class="card-hashtag"><a href="{{site.baseurl}}/blog">#{{ item.tag }}</a></p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="right-section">

    <h1 class="section-header">What's new?</h1>

    <div class="announcement">
      {% for item in site.posts limit:1 %}
      <div class="post">
        <h2 class="post-title">{{ item.title }}</h2>

        <p>{{ item.date | date: site.date_format }}</p>
        <p>{{ item.excerpt }}</p>

        <a class="read-more" href="{{ site.baseurl }}{{ item.url }}">Read more <i class="fa fa-chevron-right"></i></a>
        <div class="h-line"></div>
      </div>
      {% endfor %}
      <div class="post">
        <h2 class="post-title">Plans for an ADHO SIG</h2>

        <p>2019-11-15</p>
        <p>Special Interest Group that focuses on the technical side of DH such as tool development and maintenance.</p>

        <a class="read-more" href="{{ site.baseurl }}adho-sig">Read more <i class="fa fa-chevron-right"></i></a>
        <div class="h-line"></div>
      </div>
      <div class="post">
        <h2 class="post-title">The DH RSE Workshop White Paper by DHTech</h2>

        <p>This white paper aims to draw attention to some of the issues we observe, and invite anyone who is interested to join us.</p>

        <a class="read-more" href="{{ site.baseurl }}dhrse-whitepaper">Read more <i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>
