<script>
  //# sourceURL=index.js
$(function() {
  setNavigation("Home")
})
</script>
<div class="homepage">
  <div class="left-section">
    <div class="intro">
      <div class="line"></div>
      <i class="fa fa-quote-left"></i>
      <p class="intro-para"><em>Established at DH 2017 Montreal, DHTech is an international grass-roots community of Digital Humanities software engineers.</em><i class="fa fa-quote-right"></i></p>
    </div>

    <div class="blog">
      <h1 class="section-header" style="text-align: left ">Blog</h1>
      <div class="blog-grid">
        {% assign blog = site.blog | sort: 'date' | reverse %}
        {% assign item = blog.first %}
        <div class="card" style="width: 14rem;">
          <div class="bg-image">
            <img style="position: absolute;" src="{{ item.img }}">
            <div class="hashtag">
              <p id="hashtag">{{ item.tag }}</p>
            </div>
          </div>
          <div class="card-body">
            <h5 class="post-title">{{ item.title }}</h5>
            <p class="card-text">{{ item.excerpt }}</p>
            <a href="{{ item.url }}" class="read-more">Read more <i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
        
        <div>
          {% for article in blog %}
          {% if article != item %}
          <div class="card-min">
            <div class="bg-image-min">
              <img style="position: absolute;" src="{{ article.img }}">
              <div class="hashtag">
                <p id="hashtag">{{ article.tag }}</p>
              </div>
            </div>
            <div class="card-body">
              <h5 class="post-title">{{ article.title }}</h5>
              <a href="{{ article.url }}" class="read-more">Read more <i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>

      </div>
    </div>
  </div>

  <div class="right-section">

    <h1 class="section-header">What's new?</h1>

    <div class="announcement">
      {% for item in site.posts limit:3 %}
      <div class="post">
        <h2 class="post-title">{{ item.title }}</h2>
        
        <p>{{ item.date | date: site.date_format }}</p>
        <p>{{ item.excerpt }}</p>

        <a class="read-more" href="{{ item.url }}">Read more <i class="fa fa-chevron-right"></i></a>
        <div class="h-line"></div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
