Established at DH 2017 Montreal, DHTech is an international grass-roots community of Digital Humanities software engineers.
<a href="{{ site.baseurl }}{% link about.md %}">Find out more...</a>

<div class="announcement" style="display: block; margin-top: 20px;">
  <header class="post-header"><a href=""><h2 class="post-title">Workshop at DH 2019</h2></a></header>
  DHTech together with DH-RSE will host a workshop at DH 2019 in Utrecht, the Netherlands, on July 8, 2019. Come join us!
  <p>
    <a href="/dh-workshop-2019">Read more...</a>
  </p>
</div>
{% assign posts = site.posts %}
{% if site.paginate > 0 %}{% assign posts = paginator.posts %}{% endif %}

<div class="announcement" style="display: block; margin-top: 20px;">
    {% assign post = site.posts.first %}
    <header class="post-header"><a href="{{ post.url }}"><h2 class="post-title">{{ post.title }}</h2></a></header>
    <div class="post-time" style="text-align: right;">
    {% if site.post_meta.created_at %}
      <span class="post-meta-item-icon">
        <i class="fa fa-calendar-o"></i>
      </span>
      {% if site.post_meta.item_text %}
        <span class="post-meta-item-text">{{ __.post.posted }}</span>
      {% endif %}
      <time title="{{ __.post.created }}" itemprop="dateCreated datePublished" datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date: site.date_format }}
      </time>
    {% endif %}
    </div>

    {{ post.excerpt }}
    <p>
      <a href="{{ post.url }}">Read more...</a>
    </p>
</div>
