<script>

$(document).ready(function() {
  $("#close").hide();
});

$(function() {
  setNavigation("Workshops")
})

function openNav() {
  $("#open").hide();
  $("#close").show();
  document.getElementById("mySidenav").style.width = "400px";
  document.getElementById("main").style.marginLeft = "400px";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
  $("#close").hide();
  $("#open").show();
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}

</script>

<div id="mySidenav" class="sidenav">
  {% include workshoplist.html%}
</div>

<div id="posts" class="posts-expand">
  <span id="open" onclick="openNav()"><i class="fa fa-expand"></i></span>
  <span id="close" onclick="closeNav()"><i class="fa fa-compress"></i></span>
  <div class="underline" style="width: 10%; left:0; margin: auto"></div>
  {% include _partials/page-header.html %}
  {% comment %} tagcloud page support {% endcomment %}
  {% if page.type == "tags" %}
    <div class="tag-cloud">
      <div class="tag-cloud-title">
          {% if site.tags.size == 0 %}
            {{ __.counter.tag_cloud.zero }}
          {% elsif site.tags.size == 1 %}
            {{ __.counter.tag_cloud.one }}
          {% else %}
            {{ __.counter.tag_cloud.other | replace: '%d', site.tags.size }}
          {% endif %}
      </div>
      <div class="tag-cloud-tags">
        {% assign min_font = 12 %}
        {% assign max_font = 30 %}
        {% assign amount = 200 %}
        {% assign color = true %}
        {% assign start_color = '204,204,204' %}
        {% assign end_color = '17,17,17' %}
        {% include _helper/tagcloud.html %}
        {{ tagcloud }}
      </div>
    </div>
  {% elsif page.type == 'categories' %}
    <div class="category-all-page">
      <div class="category-all-title">
          {% if site.categories.size == 0 %}
            {{ __.counter.categories.zero }}
          {% elsif site.categories.size == 1 %}
            {{ __.counter.categories.one }}
          {% else %}
            {{ __.counter.categories.other | replace: '%d', site.categories.size }}
          {% endif %}
      </div>
      <div class="category-all">
        {% include _helper/list_categories.html %}
        {{ list_categories }}
      </div>
    </div>
  {% else %}
    {{ content }}
  {% endif %}
</div>
