<div id="posts" class="posts-expand">
{% include _partials/page-header.html %}
</div>

<section id="posts" class="posts-collapse">
  <span class="archive-move-on"></span>
  <span class="archive-page-counter">See our announcements for the next workshop!</span>

  {% assign workshops = site.workshops | sort: 'date' | reverse %}
  {% for ws in workshops %}

    {% comment %} Show year {% endcomment %}
    {% assign post_year = ws.date | date: '%Y' %}
    {% if post_year != year %}
      {% assign year = post_year %}
      <div class="collection-title" {% if route %}route="{{ route }}"{% endif %}>
        <h2 class="archive-year motion-element" id="archive-year-{{ year }}">{{ year }}</h2>
      </div>
    {% endif %}
    {% comment %} endshow {% endcomment %}

    {% include _macro/ws-collapse.html %}

  {% endfor %}

</section>
