<script>
  //# sourceURL=index.js
$(function() {
  setNavigation("Workshops")
})

</script>

<a id="button"><i class="fa fa-caret-up"></i></a>

<h2 class="section-header">Workshops overview</h2>
{% if page.description %}
  <div class="post-meta">
    <div class="post-description">{{ page.description }}</div>
  </div>
{% endif %}

<section id="posts" class="posts-collapse">
  <span class="archive-move-on"></span>
  <p>See our <a href="/">announcements</a> for the next workshop!</p>

  {% assign workshops = site.workshops | sort: 'date' | reverse %}
  
    
      <div class="timeline">
        {% for ws in workshops %}
        {% assign post_year = ws.date | date: '%Y' %}
        {% if post_year != year %}
        {% if year %}
        </div></div>
        {% endif %}
            {% assign year = post_year %}
        <div class="container right">
          
          <div class="content">

            
            <h2 class="section-header" style="font-size: 24px">{{ year }}</h2>
            
            {% endif %}       
            {% include _macro/ws-collapse.html %}

          
        {% endfor %}
        </div>
        </div>
      </div>
      
    

</section>
