{% comment %} post {% endcomment %}

  <article class="post post-type-normal" itemscope itemtype="http://schema.org/Article">
    <link itemprop="mainEntityOfPage" href="{{ post.url | absolute_url }}">

    <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="name" content="{{ site.author }}">
      <meta itemprop="description" content="{{ site.signature }}">
    </span>

    <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="{{ site.title }}">
    </span>

    {% unless headlessPost %}
      <header class="post-header">

        <div style="text-align: center">
          <span class="post-time">
            {% if site.post_meta.created_at %}
              <span class="post-meta-item-icon">
                <i class="fa fa-calendar-o"></i>
              </span>
              <time title="{{ __.post.created }}" itemprop="dateCreated datePublished" datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date: site.date_format }}
              </time>
            {% endif %}

            {% if post.zoom %}
              <span class="post-meta-divider">  |  </span>
              <span class="post-time">
                <a href="{{ post.zoom }}"><button class="primary-btn"><i class="fa fa-play-circle"></i>&nbsp;{{ __.workshop.zoom }}</button></a>
              </span>
            {% endif %}
            {% if post.slides %}
              <span class="post-meta-divider">|</span>
              <span class="post-time">
                <a href="{{ post.slides | absolute_url }}"><button class="primary-btn"><i class="fa fa-file"></i>&nbsp;{{ __.workshop.slides }}</button></a>
              </span>
            {% endif %}
            {% if post.recording %}
              <span class="post-meta-divider">|</span>
              <span class="post-time">
                <a href="{{ post.recording }}"><button class="primary-btn"><i class="fa fa-play-circle"></i>&nbsp;{{ __.workshop.recording }}</button></a>
              </span>
            {% endif %}
            {% if post.audio %}
              <span class="post-meta-divider">|</span>
              <span class="post-time">
                <a href="{{ post.audio }}"><button class="primary-btn"><i class="fa fa-headphones"></i>&nbsp;{{ __.workshop.audio }}</button></a>
            {% endif %}
            {% if post.blogpost %}
              <span class="post-meta-divider">|</span>
              <span class="post-time">
                <a href="{{ post.blogpost }}">{{ __.workshop.blogpost }}</a>
              </span>
            {% endif %}
          </span>





          {% unless site.excerpt_description and is_index %}
            {% if site.description %}
                <div class="post-description">
                    {{ post.description }}
                </div>
            {% endif %}
          {% endunless %}

        </div>
      </header>
    {% endunless %}

    <div class="post-body" style="margin-top: 40px">

      {{ post.content }}
    </div>

    <footer class="post-footer">

    </footer>
  </article>
