{% comment %} post(post, is_index, post_extra_class) {% endcomment %}

  {% if 'quote, picture' contains post.type %}
    {% assign headlessPost = true %}
  {% endif %}

  {% assign post_class = 'post post-type-' | append: post.type | default: 'normal' %}
  {% assign post_class = post_class | append: ' ' | append: post_extra_class | default: '' %}
  {% if post.sticky > 0 %}
    {% assign post_class = post_class | append: ' ' | append: 'post-sticky' %}
  {% endif %}

  <article class="{{ post_class }}" itemscope itemtype="http://schema.org/Article">
    <link itemprop="mainEntityOfPage" href="{{ post.url | absolute_url }}">

    <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="name" content="{{ site.author }}">
      <meta itemprop="description" content="{{ site.signature }}">
      <meta itemprop="image" content="{% assign default_avatar = site.images | append: '/avatar.gif' %}{{ site.avatar | default: default_avatar ) }}">
    </span>

    <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="{{ site.title }}">
    </span>

    {% unless headlessPost %}
      <header style="margin-bottom: 40px">

        {% comment %} % Not to show title for quote posts that do not have a title {% endcomment %}
        {% unless is_index and post.type == 'quote' and post.title == nil %}

        {% endunless %}

        <div style="text-align: center; margin-bottom: 20px;">
          <span>
            {% if site.post_meta.created_at %}
              <span class="post-meta-item-icon">
                <i class="fa fa-calendar-o"></i>
              </span>
              {% if site.post_meta.item_text %}
                <span class="post-meta-item-text">{{ __.post.posted }}</span>
              {% endif %}
              <time title="{{ __.post.created }}" itemprop="dateCreated datePublished" datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date: site.date_format }}
              </time>
            {% endif %}

            {% if site.post_meta.created_at and site.post_meta.updated_at %}
              <span class="post-meta-divider">|</span>
            {% endif %}

            {% if site.post_meta.updated_at %}
              <span class="post-meta-item-icon">
                <i class="fa fa-calendar-check-o"></i>
              </span>
              {% if site.post_meta.item_text %}
                <span class="post-meta-item-text">{{ __.post.modified }}</span>
              {% endif %}
              <time title="{{ __.post.modified }}" itemprop="dateModified" datetime="{{ post.updated | date: site.date_format }}">
                {{ post.updated | date: site.date_format }}
              </time>
            {% endif %}


            {% if post.author %}
              <div>
                by {{ post.author }}
              </div>
            {% endif %}

            {% if post.tag %}
              <div id="hashtag" style="margin-top: 20px; position: unset; bottom: unset; right: unset">
                <a href="/blog" onclick="filter('{{ post.tag }}')">#{{ post.tag }}</a>
              </div>
            {% endif %}

          </span>

          {% if post.categories and post.categories.size > 0 and site.post_meta.categories %}
            <span class="post-category" >
            {% if site.post_meta.created_at or site.post_meta.updated_at %}
              <span class="post-meta-divider">|</span>
            {% endif %}
              <span class="post-meta-item-icon">
                <i class="fa fa-folder-o"></i>
              </span>
              {% if site.post_meta.item_text %}
                <span class="post-meta-item-text">{{ __.post.in }}</span>
              {% endif %}
              {% for cat in post.categories %}
                {% assign cat_url_encode = cat | url_encode | replace: '+', '%20' %}
                <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
                  <a href="{{ '/category/#/' | relative_url | append: cat_url_encode }}" itemprop="url" rel="index">
                    <span itemprop="name">{{ cat }}</span>
                  </a>
                </span>

                {% assign cat_length = post.categories.size %}
                {% if cat_length > 1 and loop.index != cat_length %}
                  {{ __.symbol.comma }}
                {% endif %}
              {% endfor %}
            </span>
          {% endif %}

          {% if site.post_wordcount.wordcount or site.post_wordcount.min2read %}
            <div class="post-wordcount">
              {% if site.post_wordcount.wordcount %}
                {% unless site.post_wordcount.separated_meta %}
                  <span class="post-meta-divider">|</span>
                {% endunless %}
                <span class="post-meta-item-icon">
                  <i class="fa fa-file-word-o"></i>
                </span>
                {% if site.post_wordcount.item_text %}
                  <span class="post-meta-item-text">{{ __.post.wordcount }}</span>
                {% endif %}
                <span title="{{ __.post.wordcount }}">
                  {{ post.content | number_of_words }}
                </span>
              {% endif %}

              {% if site.post_wordcount.wordcount and site.post_wordcount.min2read %}
                <span class="post-meta-divider">|</span>
              {% endif %}

              {% if site.post_wordcount.min2read %}
                <span class="post-meta-item-icon">
                  <i class="fa fa-clock-o"></i>
                </span>
                {% if site.post_wordcount.item_text %}
                  <span class="post-meta-item-text">{{ __.post.min2read }}</span>
                {% endif %}
                <span title="{{ __.post.min2read }}">
                  {{ post.content | number_of_words | divided_by: 200 }}
                </span>
              {% endif %}
            </div>
          {% endif %}

          {% unless site.excerpt_description and is_index %}
            {% if site.description %}
                <div class="post-description">
                    {{ post.description }}
                </div>
            {% endif %}
          {% endunless %}

        </div>
      </header>
    {% endunless %}

    <div class="post-body{% if site.han %} han-init-context{% endif %}" itemprop="articleBody">

      {% comment %} Gallery support {% endcomment %}
      {% if post.photos and post.photos.size > 0 %}
        <div class="post-gallery" itemscope itemtype="http://schema.org/ImageGallery">
          {% assign COLUMN_NUMBER = 3 %}
          {% for photo in post.photos %}
            {% assign index0_modulo_COLUMN_NUMBER = forloop.index0 | modulo: COLUMN_NUMBER %}
            {% if index0_modulo_COLUMN_NUMBER == 0 %}<div class="post-gallery-row">{% endif %}
              <a class="post-gallery-img fancybox"
                 href="{{ photo }}" rel="gallery_{{ post._id }}"
                 itemscope itemtype="http://schema.org/ImageObject" itemprop="url">
                <img src="{{ photo }}" itemprop="contentUrl"/>
              </a>
            {% if index0_modulo_COLUMN_NUMBER == 2 %}</div>{% endif %}
          {% endfor %}

          {% comment %} Append end tag for `post-gallery-row` when (photos size mod COLUMN_NUMBER) is less than COLUMN_NUMBER {% endcomment %}
          {% assign photos_size_modulo_COLUMN_NUMBER = post.photos.size | modulo: COLUMN_NUMBER %}
          {% if photos_size_modulo_COLUMN_NUMBER > 0 %}</div>{% endif %}
        </div>
      {% endif %}

      {% if is_index %}
        {% if post.description and site.excerpt_description %}
          {{ post.description }}
          <!--noindex-->
          <div class="post-button text-center">
            <a class="btn" href="{{ post.url | relative_url }}">
              {{ __.post.read_more }} &raquo;
            </a>
          </div>
          <!--/noindex-->
        {% elsif post.excerpt  %}
          {{ post.excerpt }}
          <!--noindex-->
          <div class="post-button text-center">
            <a class="btn" href="{{ post.url | relative_url }}{% if site.scroll_to_more %}#{{ __.post.more }}{% endif %}" rel="contents">
              {{ __.post.read_more }} &raquo;
            </a>
          </div>
          <!--/noindex-->
        {% elsif site.auto_excerpt.enable %}
          {% assign content = post.content | strip_html %}
          {{ content | slice: 0, site.auto_excerpt.length }}
          {% if content.size > site.auto_excerpt.length %}...{% endif %}
          <!--noindex-->
          <div class="post-button text-center">
            <a class="btn" href="{{ post.url | relative_url }}{% if site.scroll_to_more %}#{{ __.post.more }}{% endif %}" rel="contents">
              {{ __.post.read_more }} &raquo;
            </a>
          </div>
          <!--/noindex-->
        {% else %}
          {% if post.type == 'picture' %}
            <a href="{{ post.url | relative_url }}">{{ post.content }}</a>
          {% else %}
            <p class="text-muted">{{ post.excerpt }}</p>
            {% if post.img %}
            <center style="margin-bottom: 20px;">
              <img src="{{site.baseurl}}{{ post.img }}" style="max-width: 80%;">
              {% if post.img-credits %}
              <br><small style="padding-top: 10px; font-family: var(--font-primary); color: rgba(46, 46, 46, 0.8);">Image credits: {{ post.img-credits }}</small>
              {% endif %}
            </center>
            {% endif %}
            {{ post.content }}
          {% endif %}
        {% endif %}
      {% else %}
        <p class="text-muted">{{ post.excerpt }}</p>
        {% if post.img %}
          <center style="margin-bottom: 20px;">
            <img src="{{site.baseurl}}{{ post.img }}" style="max-width: 80%;">
            {% if post.img-credits %}
            <br><small style="padding-top: 10px; font-family: var(--font-primary); color: rgba(46, 46, 46, 0.8);">Image credits: {{ post.img-credits }}</small>
            {% endif %}
          </center>
        {% endif %}
        {{ post.content }}
      {% endif  %}
    </div>


    <footer class="post-footer">
      {% unless is_index %}
      {% if post.previous or post.next %}
        <div class="post-nav" style="margin: 40px 0">
          <div style="float: right">
            {% if post.previous %}
            <a href="{{ post.previous.url | relative_url }}" rel="prev" title="{{ post.previous.title }}">
              Previous post <i class="fa fa-chevron-right"></i>
            </a>
            {% endif %}
          </div>

          <span class="post-nav-divider"></span>

          <div style="float: left">
            {% if post.next %}
              <a href="{{ post.next.url | relative_url }}" rel="next" title="{{ post.next.title }}">
                 <i class="fa fa-chevron-left"></i>  Next post
              </a>
            {% endif %}
          </div>
        </div>
      {% endif %}
      {% endunless %}

      {% if is_index %}
        {% assign per_page = paginator.per_page | default: site.posts.size %}
        {% assign index_modulo_per_page = forloop.index | modulo: per_page %}
        {% if index_modulo_per_page == 0 %}
          {% assign isLast = true %}
        {% endif %}
        {% unless isLast %}
          <div class="post-eof"></div>
        {% endunless %}
      {% endif %}
    </footer>
  </article>
