:root {
	--headings: #333;
	--primary-color: rgba(242,58,41,0.8);
	--font-primary: 'Noto Sans TC', sans-serif;
	--font-secondary: 'Noto Serif', serif;
}

html, body {
  height: 100%;
  margin: 0;
}

button {
	outline: none;
}

ul, ol {
	color: rgba(46, 46, 46, 0.8);
}
.wrapper {
  min-height: 100%;
  margin-bottom: -60px;
}

.push {
	height: 60px;
}

a {
	color: var(--primary-color);
	text-decoration: none;
	font-weight: 600;
}

a:hover {
	color: var(--primary-color);
	text-decoration: underline;
}

h2 {
	color: var(--headings);
	font-size: 24px;
}

h3 {
	color: var(--headings);
	font-size: 18px;
}

p {
	font-family: var(--font-primary);
	color: rgba(46, 46, 46, 0.8);
	margin: 0px 0px 20px 0px;
}

.body {
	width: 80%;
	margin: auto;
	font-family: "Open Sans", sans-serif;
	background-color: #F2F2F2;
}

.navbar {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.logo-link {
	display: flex;
	align-items: center;
}

.dropdown {
	display: none;
	align-items: center;
}

.logo-title {
	font-family: var(--font-secondary);
	color: var(--headings);
	font-size: 24px;
	margin-left: 15px;
}

.nav-link {
	display: inline-block;
	margin-right: 25px;
}

.link {
	text-decoration: none;
    color: #aaa;
    font-weight: 600;
}

.link:hover {
	text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}

.active {
	text-decoration: none;
    color: var(--headings);
    font-weight: 600;
}

.active:hover {
	text-decoration: none;
    color: var(--headings);
    font-weight: 600;
}

.underline {
	height: 4px;
    background: var(--primary-color);
    position: relative;
    left: 10px;
}


.primary-btn {
	border: 2px solid var(--primary-color);
	background-color: transparent;
	border-radius: 5px;
	color: var(--primary-color);
	font-size: 16px;
	font-weight: 600;
	padding: 5px 10px;
	font-family: var(--font-primary);
	margin-right: 15px;
}

.primary-btn:hover {
	border: 2px solid var(--primary-color);
	background-color: var(--primary-color);
	border-radius: 5px;
	color: white;
}

.link-btn {
	border: 2px solid var(--headings);
	border-radius: 5px;
	color: var(--headings);
	font-size: 25px;
	font-weight: 600;
}

.link-btn:hover {
	border: 2px solid var(--headings);
	background-color: var(--headings);
	border-radius: 5px;
	color: white;
}


.homepage {
	display: flex;
	margin-top: 20px;
}

.left-section {
	width: 60%;
	border-right: 2px solid #ccc;
	padding-right: 40px;
}

.right-section {
	width: 40%;
	margin-left: 40px;
}
.intro {
	display: flex;
	position: relative;
}

.intro-para {
	color: rgba(51,51,51,0.8);
	font-size: 18px;
	margin: 0px 15px 0px 15px;
	font-weight: 600;
	line-height: 2;
}

.text-muted {
	font-style: italic;
}

.line {
	background-color: black;
	width: 6px;
	border-radius: 5px;
	height: 50px;
	margin-right: 20px;
}

.fa-quote-left, .fa-quote-right {
	font-size: 24px;
	color: var(--primary-color);
}

.fa-quote-right {
	position: absolute;
	bottom: 0;
	margin-left: 30px;
}

.section-header {
	font-family: var(--font-secondary);
	color: var(--headings);
	font-size: 32px;
	text-align: left;
}

.blog {
	margin-top: 60px;

}

.announcement {
	background-color: white;
	border-radius: 5px;
	padding: 20px;
}

.post {
	margin-bottom: 15px;
}

.post-title {
	font-size: 18px;
	margin: 0 0 10px 0;
}

.read-more {
    color: var(--primary-color);
    text-decoration: none;
	font-weight: 600;
}

a.read-more:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.h-line {
    width: 100%;
    height: 0.5px;
    background: #ccc;
    margin: 50px 0 20px 0;
}

.footer {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	color: #ccc;
	font-size: 12px;
	font-weight: 500px;
}



.card-body {
		position: relative;
    width: 80%;
}

.card-author {
	margin-top: -10px;
	margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
	.card {
	    background: white;
	    border-radius: 10px;
	    padding: 20px;
	    overflow: hidden;
			display: block;
	}
	.bg-image {
			position: relative;
			background: #ccc;
			margin-right: 20px;
			height: 150px;
			width: 100%;
			min-width: 150px;
			overflow: hidden;
	}
	.card-article-time {
		float: left;
		margin:0;
		font-size: 14px;
		color: #ccc;
		bottom: 0;
		display:block;
		width: 100%;
	}
	.card-hashtag {
			margin: 0;
	    color: var(--primary-color);
	    font-size: 12px;
	    font-weight: 400;
	    bottom: 0;
	    right: 0;
	    letter-spacing: 2px;
	    text-transform: uppercase;
			display: block;
	}
}
@media only screen and (min-width: 600px) {
	.card {
	    background: white;
	    border-radius: 10px;
	    padding: 20px;
	    overflow: hidden;
			display: flex;
	}
	.bg-image {
			position: relative;
			background: #ccc;
			margin-right: 20px;
			height: 150px;
			width: 150px;
			min-width: 150px;
			overflow: hidden;
	}
	.card-article-time {
		float: left;
		margin:0;
		font-size: 14px;
		color: #ccc;
		bottom: 0;
	    position: absolute;
	}
	.card-hashtag {
			margin: 0;
	    color: var(--primary-color);
	    font-size: 12px;
	    font-weight: 400;
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    letter-spacing: 2px;
	    text-transform: uppercase;
	}
}


.bg-image-inner {
	position: absolute;
	max-height: 100%;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

#hashtag {
	margin: 0;
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    right: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.timeline {
  position: relative;
  max-width: 1000px;
  margin: 60px 0 0 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 80%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid var(--primary-color);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 10px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.posts-expand {
    background: white;
    padding: 30px;
    margin: 30px auto;
	width: 80%;
	border-radius: 5px;
}

.sidenav {
  height: 100%;
  width: 0; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: #ddd; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 30px 0; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidemenu {
	width: 0;
    position: absolute;
    z-index: 1;
	background-color: white;
	border-radius: 5px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    overflow-x: hidden;
	transition: 0.5s;
	display: block;
    top: 10%;
    right: 10%;
}

.sidenav .closebtn, .sidemenu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav, .sidemenu {padding-top: 15px;}
  .sidenav a, .sidemenu a {font-size: 18px;}
}

#open, #close {
	font-size: 24px;
	color: var(--headings);
	float: left;
}

#open:hover, #close:hover {
	font-size: 25px;
	cursor: pointer;
	color: var(--primary-color);
}

.grid-blog {
    margin-top: 40px;
    display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 30px;
}

.grid-news{
    margin-top: 40px;
    display: grid;
	grid-template-columns: 100%;
	grid-gap: 30px;
}

.article-time {
	float: left;
	margin:0;
	font-size: 14px;
	color: #ccc;
	bottom: 0;
    position: absolute;
}

.first-article {
	background: #ccc;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.bottom-fixed {
	position: absolute;
	bottom: 0;
	margin: 20px;
}

#sidemenu {
	display: none;
}

.topnav {
	display: flex;
	align-items: center;
}

@media screen and (max-width: 1200px) {
	.homepage {
		display: block;
	}

	.left-section {
		width: 100%;
		border: none;
		padding: 0;
	}

	.right-section {
		width: 100%;
		margin: 0;
	}
}

@media screen and (max-width: 900px) {
  .topnav a {
	  display: none;
	}
  .topnav a.icon {
    float: right;
	display: block;
	font-size: 24px;
  }
  .nav-link {
	  display: table;
	  margin: 25px;
  }

  #menu {
	  display: none;
  }

  .menu2 {
	  margin: 0;
	  padding: 0;
	  margin: -25px 0 0 -25px;
  }

  .menu {
	  margin-top: 40px;
	  padding: 0;
  }

  #sidemenu {
	display: block;
  }

}

@media screen and (max-width: 700px) {
	.blog-grid {
		grid-template-columns: auto;
	}
}

.filter {
	text-align: center;
    margin: 40px;
}

.filter-btn {
	padding: 10px;
    color: #aaa;
    border: 2px solid #ccc;
    border-radius: 5px;
	background: none;
	text-transform: uppercase;
}

.filter-btn:hover, .filter-btn:active, .filter-btn:focus {
	color: var(--primary-color);
	border: 2px solid rgba(242,58,41,0.8);
}

#button {
	display: inline-block;
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;
    box-shadow: 5px 5px 10px #ddd;
  }
  #button:hover, #button:active {
	cursor: pointer;
	background-color: var(--primary-color);
	color: white;
  }

  .fa-caret-up {
	text-align: center;
    font-size: 28px;
    margin-top: 8px;
  }


.search {
	width: 100%;
	position: relative;
	display: flex;
	margin-bottom: 60px;
  }

  .searchTerm {
	width: 100%;
	border: none;
	border-right: none;
	padding: 5px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #aaa;
	background: white;
  }

  .searchButton {
	width: 40px;
	height: 36px;
	text-align: center;
	color: #fff;
	background: var(--primary-color);
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
	border: none;
	outline: none;
  }

  #search {
	position: absolute;
    top: 85px;
    right: 10%;
  }
