
<div>
  <a class="logo-link" href="/">
    <img style="width: 50px" src="{{ site.baseurl }}/{{ site.custom_logo.image }}" alt="{{ site.title }}"/>
    <h1 class="logo-title">DH Tech</h1>
  </a>
</div>


<div class="topnav" id="myTopnav">
	{% if site.menu %}
    <ul id="menu" class="menu">
      {% for name_path in site.menu %}
        {% assign name = name_path[0] %}
        {% assign path = name_path[1] %}
        {% assign itemName = name | downcase %}
        <li class="nav-link">
          {% if path contains '://' %}
            <a class="link" id="link_{{name}}" href="{{ path }}" rel="section">{{ itemName }}</a>
            
          {% else %}
            <a class="link" id="link_{{name}}" href="{{ path | relative_url }}" rel="section">{{ itemName }}</a>
     
          {% endif %}
          <div style="display: none" id="underline_{{ name }}" class="underline"></div>
        </li>
      {% endfor %}
  	</ul>
    {% endif %}

	<a href="{{site.baseurl}}/join"><button class="primary-btn">Join us</button></a>
  <button class="link-btn" onclick="searchTab()"><i id="icon" class="fa fa-search"></i></button>

  <button id="sidemenu" type="button" onclick="openNav()"><i class="fa fa-bars" style="font-size: 16px"></i></button>
</div>

<div id="search" style="display: none">
  <div id="search_div" class="search">
    <input type="text" id="search_box" class="searchTerm" placeholder="What are you looking for?">
    <button data-href="{{site.baseurl}}/search_page" id="search_button" class="searchButton"><i class="fa fa-search"></i></button>
  </div>
</div>

<div id="mySidemenu" class="sidemenu">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa fa-times-circle" style="font-size: 16px"></i></a>
  {% if site.menu %}
    <ul id="menu2" class="menu2">
      {% for name_path in site.menu %}
        {% assign name = name_path[0] %}
        {% assign path = name_path[1] %}
        {% assign itemName = name | downcase %}
        <li class="nav-link">
          {% if path contains '://' %}
            <a class="link" id="link_{{name}}" href="{{ path }}" rel="section">{{ itemName }}</a>
            
          {% else %}
            <a class="link" id="link_{{name}}" href="{{ path | relative_url }}" rel="section">{{ itemName }}</a>
     
          {% endif %}
          <div style="display: none" id="underline_{{ name }}" class="underline"></div>
        </li>
      {% endfor %}
  	</ul>
    {% endif %}
    <a href="{{site.baseurl}}/join"><button class="primary-btn">Join us</button></a>
    <button class="link-btn" onclick="searchTab()"><i class="fa fa-search"></i></button>
</div>
    


<script>

$(document).ready(function() {
});

function searchTab() {
  if($("#search").css('display')==='none') {
    $("#search").css("display","block");
    $("#icon").removeClass("fa-search");
    $("#icon").addClass("fa-times");
  }
  else {
    $("#search").css("display","none");
    $("#icon").removeClass("fa-times");
    $("#icon").addClass("fa-search");
  }
}

function setNavigation(link_id) {
  $("#link_" + link_id).removeClass("link");
  $("#link_" + link_id).addClass('active');
  $("#underline_" + link_id).show();
}

function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}

function openNav() {
  $("#mySidemenu").css("padding", "25px");
  document.getElementById("mySidemenu").style.width = "200px";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
  $("#mySidemenu").css("padding", "0px");
  document.getElementById("mySidemenu").style.width = "0";
}
</script>