{{/* copied from clarity theme to customize author display */}}
{{- $showShare := ne (.Param "showshare") false }}
{{- $showDate := ne (.Param "showdate") false }}
{{- $showReadTime := ne (.Param "showreadtime") false }}
{{- $showPostMeta := or ($showShare) ($showDate) ($showReadTime) (isset .Params "tags") }}
{{- $scratch := newScratch }}
{{- $scratch.Set "writeSeparator" false }}
{{- if $showPostMeta }}
<div class="post_meta">
  {{- end }}
  {{- with .Params.author -}}
  <span>by {{ . }}</span>
  {{- $scratch.Set "writeSeparator" true }}
  {{- end -}}
  {{- if and $showDate .Params.date }}
  {{- if ($scratch.Get "writeSeparator") }}&nbsp;· {{ end }}
  <span>{{ partial "sprite" (dict "icon" "calendar") }}</span>
  <span class="post_date">
    {{ .Date.Format (default "Jan 2, 2006" $.Site.Params.dateFormat) -}}
  </span>
  {{ if .Params.meetup_date }}
  {{- if ($scratch.Get "writeSeparator") }}&nbsp;· {{ end }}
  <span>{{ partial "sprite" (dict "icon" "calendar") }}</span>
  <span class="post_date">
    Meetup date: {{ time.Format "Jan 2, 2006 on 9:00 AM" .Params.meetup_date -}}
  </span>
  {{ end }}
  {{ if and (.Params.registration) (.Params.meetup_date) }}
  {{ $eventTime := .Params.event_date | time }}
  {{ if lt time.Now $eventTime }}
  <span>
    {{- if ($scratch.Get "writeSeparator") }}&nbsp;· {{ end }}
    <a class="post_tag button " href="{{.Params.registration}}">Register</a>
    {{end}}
    {{ end }}
    {{- $scratch.Set "writeSeparator" true }}
  </span>
  {{- end }}
  {{- if $showReadTime }}
  <span class="post_time">{{ if ($scratch.Get "writeSeparator") }} · {{ end }}{{ T "reading_time" . }}</span>
  {{- $scratch.Set "writeSeparator" true }}
  {{- end }}
  {{/* custom: old dh-tech presentation pages have slides and recording links */}}
  {{- if $.Params.slides }}
  {{- if ($scratch.Get "writeSeparator") }}&nbsp;· {{ end }}
  <span class="slides"><a href="{{ $.Params.slides }}">📄 Slides</a></span>
  {{- $scratch.Set "writeSeparator" true }}
  {{- end }}
  {{- if $.Params.recording }}
  {{- if ($scratch.Get "writeSeparator") }}&nbsp;· {{ end }}
  <span class="recording"><a href="{{ $.Params.recording }}">▶️ Recording</a></span>
  {{- $scratch.Set "writeSeparator" true }}
  {{- end }}
  {{- with .Params.tags -}}
  <span>
    {{- if ($scratch.Get "writeSeparator") }}&nbsp;· {{ end }}
    {{- range . }}
    {{- $tag := urlize . -}}
    <a href='{{ absLangURL (printf "tags/%s/" $tag) }}' title="{{ . }}" class="post_tag button button_translucent">
      {{- . }}
    </a>
    {{- end }}
  </span>
  {{- $scratch.Set "writeSeparator" true }}
  {{- end }}
  {{- if $showShare }}
  <span class="page_only">{{ if ($scratch.Get "writeSeparator") }}&nbsp;·{{ end }}{{ partial "share" . }}</span>
  {{- $scratch.Set "writeSeparator" true }}
  {{- end }}
  {{- if $showPostMeta }}
</div>
{{- end }}